{% extends 'templates/blog-post.html' %}
{% block content %} 
<p>This is a test of the python-markdown package.</p>
<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<p><strong>bold text</strong></p>
<p><em>italicized text</em></p>
<blockquote>
<p>blockquote</p>
</blockquote>
<ol>
<li>First item</li>
<li>Second item</li>
<li>
<p>Third item</p>
</li>
<li>
<p>First item</p>
</li>
<li>Second item</li>
<li>Third item</li>
</ol>
<p><code>code</code></p>
<hr />
<p><a href="https://www.example.com">title</a></p>
<p><img alt="alt text" src="/images/projects/raylib-snake-thumbnail.png" /></p>
{% endblock %}
