main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project-container {
    text-decoration: none;
}

.project-container * {
    color: var(--text-color);
}

.project-thumbnail {}

.project-thumbnail>img {
    width: 100%;
    aspect-ratio: square;
    border: 2px solid black;
    box-shadow: 1px 3px 25px gray;
}

.project-details {
    margin-top: 1rem;
    margin-inline: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-title {
    margin-top: 0;
    font-size: larger;
    font-weight: bold;
}

.project-tags {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.project-tag {
    display: inline;
    height: 20px;
    padding: 3px;
    padding-inline: 8px;
    border: 1px solid gray;
    border-radius: 15px;
}

.project-tag * {
    display: inline;
}

.project-tag p {
    font-size: 13px;
    text-align: center;
}