{{define "title"}}Projects{{end}}

{{define "pageStyles"}}
<link rel="stylesheet" href="/static/css/projects.css" />
{{end}}

{{define "content"}}
<main>
    <a href="/projects/raylib-snake" class="project-container">
        <div class="project-thumbnail">
            <img src="/static/images/projects/raylib-snake-thumbnail.png" />
        </div>
        <div class="project-details">
            <p class="project-title">Raylib Snake</p>
            <div class="project-tags">
                <div class="project-tag">
                    <p>C++</p>
                </div>
                <div class="project-tag">
                    <p>Raylib</p>
                </div>
            </div>
        </div>
    </a>

</main>
{{end}}