{% extends "templates/project-page.html" %}

{% block page_title %}Snake Project{% endblock %}

{% block content %}


<main>
    <div class="emscripten-container">
        {% include "templates/emscripten/content.html" %}
    </div>
    <small><em>* Touch controls are not supported</em></small>
    <div class="text-content">
        <div class="title-link-container">
            <h2>Raylib Snake</h2>
            <a class="icon" href="https://github.com/WillHensel/snake-raylib" target="_blank"><img
                    src="/images/github.svg" /></a>
        </div>
        <p>This was the first thing I did as an introductory project to Raylib, but also to get back into C++ after
            a bit of a break from it. When I made it, I had just read <a href="https://gameprogrammingpatterns.com">Game
                Programming Patterns</a> by Robert Nystrom so I also
            took it as an opportunity to implement some of those patterns.</p>

        <p>The game loop pattern is the most obvious
            usage of the patterns in this book. In addition, many of the classes use the update method pattern and
            the component pattern.</p>

        <p>To handle button input, I make use of callback function pointers to "bubble up"
            click events to the parent classes that need it. For instance, the "Start game" button is constructed in
            the GameUiComponent class. The Game class holds an instance of GameUiComponent and passes a lambda
            function to its DrawStartScreen method which in turn passes it to the button. When the button is
            clicked, the method is called and the Game class can handle it properly. </p>

        <p>The Snake is implemented as a
            singly linked list, this makes the movement trivial to implement. We can simply traverse the linked list
            from the head, which corresponds to the head of the snake, making each cell's position the position of
            previous cell. It also means we don't have the overhead of a dynamically sized container like a vector,
            and we don't need to worry about storing everything in contiguous memory like with an array (as well as
            a vector). We just heap allocate new cells wherever they fit and save the pointer.</p>
        </p>
    </div>
</main>

{% include "templates/emscripten/scripts.html" %}

<script async src="/js/projects/raylib-snake/snake-raylib.js"></script>
{% endblock %}