{% extends "templates/base.html" %}

{% block page_title %}Projects{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="/css/projects/index.css" />
{% endblock %}

{% block content %}
<main>
    <a href="raylib-snake" class="project-container">
        <div class="project-thumbnail">
            <img src="/images/projects/raylib-snake-thumbnail.png" />
        </div>
        <div class="project-details">
            <p class="project-title">Raylib Snake</p>
            <div class="project-tags">
                <div class="project-tag">
                    <p>C++</p>
                </div>
                <div class="project-tag">
                    <p>Raylib</p>
                </div>
            </div>
        </div>
    </a>

</main>
{% endblock %}